body { background-color:black;
    font-family:arial;
    color:white }

/*  */
h1{color:grey;
    font-family:verdana;
    text-align: center;
}


.maindiv {
    background-color: white;
    color: black;
    margin: auto;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align: center;
    
}

.center{
    margin: auto;
    width: 340px;
}